<!DOCTYPE html>
<html>
  <head>
    <title>Shopmium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <img alt="Shopmium" src="https://www.welcomekit.co/uploads/website/logo/19/shopmium-logo.png" height="100px" style="padding: 4px;margin : 4px;align-content: center;">
  </head>

  <body style="background-color: hsla(120,100%,75%,0.3);">
    <%= yield %>
  </body>
</html>
